{
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    height:50px;
    background-color: #009999;
    color: #ffffff;
    padding: 15px;
    font-size:100%;
    word-spacing:150px;
}


.footer {
    background-color: #009999;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    height:100px;
}
