body{

    padding-top: 50px;
    background-image: url("hospital.jpg");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-size: cover;
}
div.seven{
    width:50%;
    height:100px;
    float:left;
    background-color:red;
}
div.eight{
    width:50%;
    height:100px;
    float:right;
    background-color:red;
}